In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("EV.csv")
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5UXTA6C0XM,Kitsap,Seabeck,WA,98380.0,2021,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30.0,0.0,35.0,267929112,POINT (-122.8728334 47.5798304),PUGET SOUND ENERGY INC,5.303509e+10
1,5YJ3E1EB1J,Kitsap,Poulsbo,WA,98370.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215.0,0.0,23.0,475911439,POINT (-122.6368884 47.7469547),PUGET SOUND ENERGY INC,5.303509e+10
2,WP0AD2A73G,Snohomish,Bothell,WA,98012.0,2016,PORSCHE,PANAMERA,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,15.0,0.0,1.0,101971278,POINT (-122.206146 47.839957),PUGET SOUND ENERGY INC,5.306105e+10
3,5YJ3E1EB5J,Kitsap,Bremerton,WA,98310.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215.0,0.0,23.0,474363746,POINT (-122.6231895 47.5930874),PUGET SOUND ENERGY INC,5.303508e+10
4,1N4AZ1CP3K,King,Redmond,WA,98052.0,2019,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,150.0,0.0,45.0,476346482,POINT (-122.13158 47.67858),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10

In [3]:
df.describe()

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,210161.000000,210165.000000,210160.000000,210160.000000,209720.000000,2.101650e+05,2.101610e+05
mean,98178.209406,2021.048657,50.602241,897.676889,28.929954,2.290774e+08,5.297929e+10
std,2445.429402,2.988941,86.973210,7653.588604,14.908392,7.115519e+07,1.551466e+09
min,1731.000000,1999.000000,0.000000,0.000000,1.000000,4.469000e+03,1.001020e+09
25%,98052.000000,2019.000000,0.000000,0.000000,17.000000,1.948816e+08,5.303301e+10
50%,98125.000000,2022.000000,0.000000,0.000000,32.000000,2.405164e+08,5.303303e+10
75%,98374.000000,2023.000000,42.000000,0.000000,42.000000,2.629758e+08,5.305307e+10
max,99577.000000,2025.000000,337.000000,845000.000000,49.000000,4.792548e+08,5.602100e+10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210165 entries, 0 to 210164
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         210165 non-null  object
 1   County                                             210161 non-null  object
 2   City                                               210161 non-null  object
 3   State                                              210165 non-null  object
 4   Postal Code                                        210161 non-null  float64
 5   Model Year                                         210165 non-null  int64
 6   Make                                               210165 non-null  object
 7   Model                                              210165 non-null  object
 8   Electric Vehicle Type                              210165 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  210165 non-null  object
 10  Electric Range                                     210160 non-null  float64
 11  Base MSRP                                          210160 non-null  float64
 12  Legislative District                               209720 non-null  float64
 13  DOL Vehicle ID                                     210165 non-null  int64
 14  Vehicle Location                                   210155 non-null  object
 15  Electric Utility                                   210161 non-null  object
 16  2020 Census Tract                                  210161 non-null  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 27.3+ MB

In [5]:
df.isnull().sum()

VIN (1-10)                                             0
County                                                 4
City                                                   4
State                                                  0
Postal Code                                            4
Model Year                                             0
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         5
Base MSRP                                              5
Legislative District                                 445
DOL Vehicle ID                                         0
Vehicle Location                                      10
Electric Utility                                       4
2020 Census Tract                                      4
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

VIN (1-10)                                           0
County                                               0
City                                                 0
State                                                0
Postal Code                                          0
Model Year                                           0
Make                                                 0
Model                                                0
Electric Vehicle Type                                0
Clean Alternative Fuel Vehicle (CAFV) Eligibility    0
Electric Range                                       0
Base MSRP                                            0
Legislative District                                 0
DOL Vehicle ID                                       0
Vehicle Location                                     0
Electric Utility                                     0
2020 Census Tract                                    0
dtype: int64

In [8]:
# Evs Count by County
df.groupby("County")["County"].count().sort_values(ascending=False).head(20)

County
King         107111
Snohomish     25392
Pierce        16677
Clark         12533
Thurston       7719
Kitsap         6998
Spokane        5700
Whatcom        5110
Benton         2624
Skagit         2366
Island         2244
Yakima         1284
Chelan         1279
Clallam        1253
Jefferson      1138
Cowlitz        1097
San Juan       1039
Mason           980
Lewis           954
Kittitas        778
Name: County, dtype: int64

In [9]:
# Evs Count by City
df.groupby("City")["City"].count().sort_values(ascending=False).head(20)

City
Seattle          33853
Bellevue         10414
Vancouver         7475
Redmond           7438
Bothell           6877
Renton            6131
Kirkland          6092
Sammamish         5995
Olympia           5079
Tacoma            4454
Bellingham        3475
Kent              3472
Spokane           3367
Lynnwood          3332
Tukwila           3178
Issaquah          3143
Everett           3106
Woodinville       2691
Mercer Island     2621
Snohomish         2426
Name: City, dtype: int64

In [10]:
# Count by Model
df.groupby("Model")["Model"].count().sort_values(ascending=False).head(20)

Model
MODEL Y           43937
MODEL 3           32432
LEAF              13596
MODEL S            7774
BOLT EV            6770
MODEL X            6227
VOLT               4805
ID.4               4705
MUSTANG MACH-E     4354
WRANGLER           4102
NIRO               3761
PACIFICA           3714
IONIQ 5            3263
RAV4 PRIME         3158
PRIUS PRIME        3097
R1S                3055
BOLT EUV           2793
EV6                2755
X5                 2583
F-150              2383
Name: Model, dtype: int64

In [11]:
# Average Range by Make
df.groupby("Make")["Electric Range"].mean().sort_values(ascending=False).round().head(20)

Make
JAGUAR                  204.0
WHEEGO ELECTRIC CARS    100.0
TH!NK                   100.0
CHEVROLET                89.0
FIAT                     83.0
NISSAN                   75.0
TESLA                    66.0
SMART                    62.0
AZURE DYNAMICS           56.0
AUDI                     46.0
PORSCHE                  43.0
KIA                      37.0
ALFA ROMEO               33.0
CHRYSLER                 32.0
DODGE                    32.0
BMW                      32.0
MITSUBISHI               31.0
HONDA                    30.0
LAND ROVER               30.0
POLESTAR                 29.0
Name: Electric Range, dtype: float64

In [12]:
# Average Range by Model
df.groupby("Model")["Electric Range"].mean().sort_values(ascending=False).round().head(20)

Model
KONA                258.0
ROADSTER            229.0
I-PACE              204.0
MODEL S             173.0
BOLT EV             168.0
MODEL X             128.0
E-TRON              127.0
E-GOLF              107.0
RAV4                103.0
WHEEGO              100.0
CITY                100.0
MODEL 3             100.0
SOUL EV              98.0
SOUL                 93.0
E-TRON SPORTBACK     93.0
I3                   90.0
B-CLASS              87.0
500                  86.0
SPARK                82.0
LEAF                 81.0
Name: Electric Range, dtype: float64

In [13]:
# Distribution of EVs by Legislative District:
df.groupby("Legislative District")["Electric Range"].count().sort_values(ascending=False).head(20)

Legislative District
41.0    13195
45.0    12191
48.0    11348
1.0      9099
5.0      8954
11.0     8953
36.0     8404
46.0     7848
43.0     7341
37.0     6112
34.0     6063
44.0     5750
18.0     5658
21.0     5315
22.0     5249
32.0     5111
23.0     4506
40.0     4396
26.0     4197
47.0     3946
Name: Electric Range, dtype: int64

In [14]:
# Top 5 Postal Codes with the Most EVs
df.groupby("Postal Code")["Electric Range"].count().sort_values(ascending=False).head(5)

Postal Code
98052.0    5256
98012.0    3959
98033.0    3485
98006.0    3314
98188.0    3229
Name: Electric Range, dtype: int64

In [15]:
# Count of Each Electric Vehicle Type
df.groupby("Electric Vehicle Type")["Electric Range"].count().sort_values(ascending=False).head(5)

Electric Vehicle Type
Battery Electric Vehicle (BEV)            165232
Plug-in Hybrid Electric Vehicle (PHEV)     44477
Name: Electric Range, dtype: int64

In [16]:
# Average Electric Range by Electric Vehicle Type
df.groupby("Electric Vehicle Type")["Electric Range"].mean().sort_values(ascending=False).round().head(20)

Electric Vehicle Type
Battery Electric Vehicle (BEV)            56.0
Plug-in Hybrid Electric Vehicle (PHEV)    31.0
Name: Electric Range, dtype: float64

In [17]:
# Count of EVs Eligible for CAFV
df.groupby("Clean Alternative Fuel Vehicle (CAFV) Eligibility")["Electric Range"].count().sort_values(ascending=False).head(5)

Clean Alternative Fuel Vehicle (CAFV) Eligibility
Eligibility unknown as battery range has not been researched    118427
Clean Alternative Fuel Vehicle Eligible                          69870
Not eligible due to low battery range                            21412
Name: Electric Range, dtype: int64

In [18]:
# EV Counts by Electric Utility
df.groupby("Electric Utility")["Electric Range"].count().sort_values(ascending=False).head(20)

Electric Utility
PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)                                            76603
PUGET SOUND ENERGY INC                                                                   43318
CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)                                             36245
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF CLARK COUNTY - (WA)                         12234
BONNEVILLE POWER ADMINISTRATION||CITY OF TACOMA - (WA)||PENINSULA LIGHT COMPANY           9343
PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM COUNTY                                        4824
BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||INLAND POWER & LIGHT COMPANY                3469
BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOHOMISH COUNTY                                1867
PACIFICORP                                                                                1660
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF BENTON COUNTY                                1520
MODERN ELECTRIC WATER COMPANY                                                             1390
PUD NO 1 OF CHELAN COUNTY                                                                 1279
BONNEVILLE POWER ADMINISTRATION||PUGET SOUND ENERGY INC||PUD NO 1 OF JEFFERSON COUNTY     1110
BONNEVILLE POWER ADMINISTRATION||CITY OF RICHLAND - (WA)                                  1104
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF COWLITZ COUNTY                               1097
BONNEVILLE POWER ADMINISTRATION||ORCAS POWER & LIGHT COOP                                 1035
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF CLALLAM COUNTY                                964
BONNEVILLE POWER ADMINISTRATION||CITY OF TACOMA - (WA)||PUD NO 3 OF MASON COUNTY           839
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF GRAYS HARBOR COUNTY                           747
PUD NO 2 OF GRANT COUNTY                                                                   737
Name: Electric Range, dtype: int64

In [ ]:
# Coorelation
df.corr(numeric_only=True)

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
Postal Code,1.000000,-0.047336,0.009289,-0.001601,-0.412332,0.002001,0.021661
Model Year,-0.047336,1.000000,-0.513682,-0.230498,-0.016823,0.215705,-0.014191
Electric Range,0.009289,-0.513682,1.000000,0.114288,0.019020,-0.140817,-0.006053
Base MSRP,-0.001601,-0.230498,0.114288,1.000000,0.010489,-0.039272,-0.001948
Legislative District,-0.412332,-0.016823,0.019020,0.010489,1.000000,-0.010730,-0.100696
DOL Vehicle ID,0.002001,0.215705,-0.140817,-0.039272,-0.010730,1.000000,-0.004524
2020 Census Tract,0.021661,-0.014191,-0.006053,-0.001948,-0.100696,-0.004524,1.000000

In [25]:
# EV Count by Model Year
df.groupby("Model Year")["VIN (1-10)"].count().sort_values(ascending=False)

Model Year
2023    59961
2024    35200
2022    28172
2021    19748
2018    14261
2020    12103
2019    10730
2017     8569
2016     5442
2015     4710
2013     4300
2014     3445
2012     1546
2025      760
2011      704
2010       24
2008       22
2000        7
1999        2
2002        2
2003        1
Name: VIN (1-10), dtype: int64

In [43]:
# Identify Popular Models with High Electric Range
Highrange = df[df["Electric Range"]>200]
Highrange.groupby("Model").agg(count=("Model","count"),Avg_Range=("Electric Range","mean")).sort_values(by="count",ascending=False).round(2)

                  count  Avg_Range
Model
MODEL 3           13575     238.76
MODEL S            5904     227.53
BOLT EV            4639     244.98
MODEL Y            2236     291.00
MODEL X            1999     267.19
NIRO                898     239.00
E-TRON              652     207.70
LEAF                276     215.00
KONA                233     258.00
I-PACE              207     234.00
PS2                 145     233.00
TAYCAN              135     203.00
E-TRON SPORTBACK     74     218.00
ROADSTER             48     234.06